.mdhui-asthma-log-entry-summary {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    border-radius: 6px;
    padding: 16px;
    background: #f8f8f8;
    margin: 8px 0;
}

.mdhui-asthma-log-entry-summary-details {
    font-size: 16px;
}

.mdhui-asthma-log-entry-summary-label {
}

.mdhui-asthma-log-entry-summary-status {
    font-weight: bold;
}

.mdhui-asthma-log-entry-summary-add-button {
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    padding: 0 16px;
    color: #fff;
    background: #369CFF;
}

.mdhui-asthma-log-entry-summary-chevron {
    color: #585858;
}

.mdhui-asthma-log-entry-summary .mdhui-loading-indicator {
    padding: 0;
}