.mdhui-survey-task-list{
    background: var(--bg-secondary, #F2F2F7);
}

.mdhui-survey-task-list .mdhui-single-survey-task {
    border-bottom: solid 1px var(--mdhui-border-color-0);
}

.mdhui-survey-task-list .mdhui-single-survey-task:last-child {
    border: none;
}

.mdhui-survey-task-list .title {
    font-weight: bold;
    padding: 16px;
    padding-bottom: 0;
}

.mdhui-card-title {
    color: rgba(60, 60, 67, 0.60)!important;
}

.mdhui-survey-task-list .empty-message {
    padding: 16px;
    font-size: .88em;
}