.mdhui-asthma-control-calendar {
    background: #fff;
}

.mdhui-asthma-control-calendar-day {
    display: inline-block;
    width: 100%;
}

.mdhui-asthma-control-calendar-day-not-determined-streak-left {
    background: linear-gradient(90deg, #f8f8fb 50%, transparent 50%);
}

.mdhui-asthma-control-calendar-day-not-determined-streak-right {
    background: linear-gradient(90deg, transparent 50%, #f8f8fb 50%);
}

.mdhui-asthma-control-calendar-day-not-determined-streak-both {
    background-color: #f8f8fb;
}

.mdhui-asthma-control-calendar-day-controlled-streak-left {
    background: linear-gradient(90deg, #d1f6f4 50%, transparent 50%);
}

.mdhui-asthma-control-calendar-day-controlled-streak-right {
    background: linear-gradient(90deg, transparent 50%, #d1f6f4 50%);
}

.mdhui-asthma-control-calendar-day-controlled-streak-both {
    background-color: #d1f6f4;
}

.mdhui-asthma-control-calendar-day-not-controlled-streak-left {
    background: linear-gradient(90deg, #ffdada 50%, transparent 50%);
}

.mdhui-asthma-control-calendar-day-not-controlled-streak-right {
    background: linear-gradient(90deg, transparent 50%, #ffdada 50%);
}

.mdhui-asthma-control-calendar-day-not-controlled-streak-both {
    background-color: #ffdada;
}

.mdhui-asthma-control-calendar-day-value {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    vertical-align: middle;
    margin: 0 auto;
    color: #999;
    font-size: 15px;
}

.mdhui-asthma-control-calendar-day-value-no-data {
    background: white;
    color: black;
}

.mdhui-asthma-control-calendar-day-value-today {
    color: black;
    box-shadow: inset 0 0 0 2px black;
    box-sizing: border-box;
}

.mdhui-asthma-control-calendar-day-value-future {
}

.mdhui-asthma-control-calendar-day-value-not-determined {
    background: repeating-linear-gradient(
            -45deg,
            #dadae0,
            #dadae0 2px,
            #f0f0f6 2px,
            #f0f0f6 4px
    );
    color: black;
}

.mdhui-asthma-control-calendar-day-value-controlled {
    background: #03dbcc;
    color: white;
    font-weight: 600;
}

.mdhui-asthma-control-calendar-day-value-not-controlled {
    background: #fc6666;
    color: white;
    font-weight: 600;
}