@import url("https://use.typekit.net/upg6sbm.css");

a {
    color: #336194;
    text-decoration: none;
}

.recover {
    color: #152850;
    background: #f6f4ef;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    --mdhui-background-color-1: #f6f4ef;
}

.recover .no-top-padding {
    padding-top:0;
}