.mdhui-chat {
    background: var(--mdhui-background-color-0);
    font-size: 14px;
}

.mdhui-chat .mdhui-chat-log {
    overflow-y: auto;
    overflow-x: hidden;
}

.mdhui-chat p,
.mdhui-chat ul {
    margin: .25rem 0;
    word-break: break-word;
    color: var(--mdhui-text-color-1);
}

.mdhui-chat input,
.mdhui-chat button {
    min-height: var(--mdhui-touch);
    min-width: var(--mdhui-touch);
    border: 0;
    border-radius: var(--mdhui-card-border-radius);
}

.mdhui-chat .send-button {
    position: absolute;
    right: 4px;
    cursor: pointer;
    text-align: center;
}

.mdhui-chat input {
    flex: 1;
    font-size: 1em;
    color: var(--mdhui-text-color-1);
    padding: var(--mdhui-padding-md) var(--mdhui-touch) var(--mdhui-padding-md) var(--mdhui-padding-md);
    box-sizing: border-box;
    outline-offset: -1px;
}

.mdhui-chat .input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-top: 1px solid var(--mdhui-border-color-1);
}

.mdhui-chat .mdhui-chat-message,
.mdhui-chat .message-loading {
    padding: var(--mdhui-padding-xs) var(--mdhui-padding-xs) var(--mdhui-padding-xs) var(--mdhui-padding-lg);
    position: relative;
    border-bottom: 1px solid var(--mdhui-border-color-1);
}

.mdhui-chat .mdhui-chat-message.sent {
    background: var(--mdhui-background-color-1);
}

.mdhui-chat .mdhui-chat-message .svg-inline--fa,
.mdhui-chat .message-loading .svg-inline--fa {
    color: var(--mdhui-text-color-3);
    margin-right: .25rem;
}

.mdhui-chat .message-loading .svg-inline--fa {
    font-weight: 700;
}

.mdhui-chat input:focus-visible {
    outline: 1px solid var(--mdhui-color-primary);
}
