.mdhui-chat {
    background: var(--mdhui-background-color-0);
    font-size: 0.88em;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    min-height: 150px;
}

.mdhui-chat .mdhui-chat-log {
    overflow: hidden;
    flex: 1 1 0%;
}

.mdhui-chat .mdhui-chat-messages-scroll-wrapper {
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
}

.mdhui-chat .mdhui-chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    width: 100%;
}

.mdhui-chat p,
.mdhui-chat ul {
    margin: .25rem 0;
    word-break: break-word;
}

.mdhui-chat input,
.mdhui-chat button {
    min-height: var(--mdhui-touch);
    min-width: var(--mdhui-touch);
    border: 0;
}

.mdhui-chat .mdhui-unstyled-button {
    cursor: pointer;
    text-align: center;
}

.mdhui-chat .mdhui-unstyled-button:disabled {
    cursor: default;
    color: var(--mdhui-text-color-3);
}

.mdhui-chat input {
    flex: 1;
    font-size: 1em;
    color: var(--mdhui-text-color-1);
    padding: var(--mdhui-padding-md) var(--mdhui-touch) var(--mdhui-padding-md) var(--mdhui-padding-md);
    box-sizing: border-box;
    outline-offset: -1px;
    background: var(--mdhui-background-color-0);
}

.mdhui-chat .mdhui-chat-input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-top: 1px solid var(--mdhui-border-color-1);
    margin-top: 30px;
}

.mdhui-chat .mdhui-chat-message,
.mdhui-chat .mdhui-chat-message-loading {
    padding: var(--mdhui-padding-xxs) var(--mdhui-padding-md);
    position: relative;
}

.mdhui-chat .mdhui-chat-received-message-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.mdhui-chat .mdhui-chat-sent-message-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: var(--mdhui-padding-md);
}

.mdhui-chat .mdhui-chat-sent-message {
    background: var(--mdhui-background-color-1);
    max-width: 70%;
    padding: var(--mdhui-padding-xs) var(--mdhui-padding-sm);
    border-radius: var(--mdhui-card-border-radius);
    margin-left: auto;
}

.mdhui-chat .mdhui-chat-message .svg-inline--fa,
.mdhui-chat .mdhui-chat-message-loading .svg-inline--fa {
    color: var(--mdhui-text-color-3);
    margin-top: .35rem;
    margin-right: .25rem;
}

.mdhui-chat .mdhui-chat-message-loading .svg-inline--fa {
    font-weight: 700;
}

.mdhui-chat input:focus-visible {
    outline: 1px solid var(--mdhui-color-primary);
}

.mdhui-chat .visualization {
    position: absolute;
    display: flex;
    bottom: 45px;
    right: 8px;
    padding: 4px;
    border-radius: 16px;
    z-index: 10;
    gap: 2px;
}

.mdhui-chat .visualization-entry {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;
    gap: 4px;
}

.mdhui-chat .visualization-entry.client {
    color: #0099ff;
}

.mdhui-chat .visualization-entry.server {
    color: #009900;
}

.mdhui-chat .visualization-entry canvas {
    width: 100%;
    height: 100%;
    color: currentColor;
}
