.mdhui-connect-fitbit
{
}

    .mdhui-connect-fitbit .title
    {
        font-weight: bold;
    }

    .mdhui-connect-fitbit .subtitle
    {
        font-size: .88em;
        font-weight: normal;
        color: var(--color-muted1);
    }

        .mdhui-connect-fitbit .subtitle.reconnect
        {
            color: var(--color-danger);
            font-weight: bold;
        }

        .mdhui-connect-fitbit .subtitle.success svg
        {
            color: var(--color-success);
        }

    .mdhui-connect-fitbit .mdhui-button
    {
        margin-top: 16px;
    }

    .mdhui-connect-fitbit .content
    {
        padding: 16px;
    }
