.mdhui-button {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background: var(--mdhui-color-primary);
    font-size: 17px;
    line-height: 17px;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.mdhui-button:disabled {
    color: var(--mdhui-text-color-3);
    background: var(--mdhui-background-color-2);
    cursor: default;
}

.mdhui-button.mdhui-button-subtle {
    background: none;
    color: var(--mdhui-color-primary);
}