.mdhui-daily-data-chart {
    position: relative;
}

.mdhui-daily-data-chart .title {
    padding: 16px;
    padding-bottom: 0;
    position: relative;
    font-weight: bold;
}

.mdhui-daily-data-chart .chart-container {
    padding: 16px;
    position: relative;
}

.mdhui-daily-data-chart .no-data-label,
.mdhui-daily-data-chart .mdhui-loading-indicator {
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
    text-align: center;
    width: 100%;
    font-size: .88em;
    color: var(--mdhui-text-color-3);
    box-sizing: border-box;
    padding: 16px;
}

.mdhui-daily-data-chart .recharts-cartesian-axis-tick {
    font-size: 11px;
}

.mdhui-daily-data-chart .mdhui-daily-data-tooltip {
    padding: 8px;
    background: var(--mdhui-background-color-0);
    border-radius: 5px;
    box-shadow: var(--mdhui-box-shadow-1);
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

.mdhui-daily-data-chart .mdhui-daily-data-tooltip .mdhui-daily-data-tooltip-value {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--mdhui-text-color-0);
    padding-bottom: 4px;
}

.mdhui-daily-data-chart .mdhui-daily-data-tooltip .mdhui-daily-data-tooltip-date {
    font-size: .7em;
    color: var(--mdhui-text-color-3);
    line-height: 1em;
}

.mdhui-daily-data-chart .recharts-cartesian-axis-tick {
    fill: var(--mdhui-text-color-1);
}

.mdhui-daily-data-chart .today
{
    font-weight: bold;
}