.mdhui-tracker-item {
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    color: var(--mdhui-background-color-0);
    border-radius: 32px;
    font-size: .88em;
    display: inline-block;
    margin: 8px;
    position: relative;
    border: solid 1px #000;
    user-select: none;
}

.mdhui-tracker-item.selectable {
    cursor: pointer;
}

.mdhui-tracker-item.selected {
    box-shadow: var(--mdhui-box-shadow-1);
    color: #FFF !important;
    background-color: inherit;
}

.mdhui-tracker-item.unselected {
    background-color: var(--mdhui-background-color-0) !important;
}

.mdhui-tracker-item.mdhui-shiny-overlay {
    border-radius: 16px;
}

.mdhui-tracker-item.bordered .mdhui-shiny-overlay {
    left: 1px;
    right: 1px;
    bottom: 1px;
    top: 1px;
    border: solid 2px #FFF;
}

.mdhui-tracker-item .badge {
    position: absolute;
    right: -4px;
    top: -4px;
    border-radius: 32px;
    padding: 3px;
    background: linear-gradient(to bottom, #555 0%, #888 100%);
    font-size: .5em;
    font-weight: bold;
    text-align: center;
    min-width: 10px;
    user-select: none;
    font-size: .62em;
}