.mdhui-report-content {
    min-height: 200px;
    padding-bottom: 8px;
}

.mdhui-report-content .mdhui-report-content-html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
}

.mdhui-report-content .mdhui-report-content-pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 16px;
}

.mdhui-report-content .mdhui-report-content-pdf .mdhui-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 12px;
}

.mdhui-report-content iframe {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    min-height: 200px;
}

.mdhui-report-content .mdhui-pdf-preview .react-pdf__Page {
    background: var(--mdhui-background-color-1) !important;
}