.mdhui-survey-log-calendar .mdhui-survey-log-calendar-footer {
    position: relative;
    min-height: 32px;
}

.mdhui-survey-log-calendar .mdhui-survey-log-calendar-legend {
    padding: 0 40px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.mdhui-survey-log-calendar .mdhui-survey-log-calendar-legend-entry {
    display: flex;
    align-items: center;
    gap: 4px;
}

.mdhui-survey-log-calendar .mdhui-survey-log-calendar-legend-entry-color {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.mdhui-survey-log-calendar .mdhui-survey-log-calendar-legend-entry-label {
    font-size: 0.7em;
    color: var(--mdhui-text-color-2);
    font-weight: bold;
}

.mdhui-survey-log-calendar .mdhui-survey-log-calendar-loading-indicator.mdhui-loading-indicator {
    position: absolute;
    bottom: 8px;
    right: 16px;
    padding: 0;
}