@keyframes mdhui-progress-ring {
    0% {
        stroke-dashoffset: var(--mdhui-progress-ring-animation-start);
    }
    100% {
        stroke-dashoffset: var(--mdhui-progress-ring-animation-end);
    }
}

.mdhui-progress-ring {
    position: relative;
    margin: 0 auto 0 auto;
    --mdhui-progress-ring-animation-end: 0;
}

.mdhui-progress-ring > svg {
    position: relative;
    transform: rotate(-90deg);
    z-index: 1;
}

.mdhui-progress-ring > svg circle {
    margin: 0 auto;
    fill: none;
    stroke-linecap: round;
}

.mdhui-progress-ring > svg circle:nth-child(n+2) {
    stroke: var(--mdhui-color-primary);
    animation-fill-mode: forwards;
}

.mdhui-progress-ring-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}