@keyframes mdhui-progress-ring {
    0% {
        stroke-dashoffset: var(--mdhui-progress-ring-animation-start);
    }
    100% {
        stroke-dashoffset: var(--mdhui-progress-ring-animation-end);
    }
}

.mdhui-progress-ring {
    position: relative;
    margin: 0 auto 0 auto;
    width: 220px;
    height: 220px;
    --mdhui-progress-ring-animation-start: 630;
    --mdhui-progress-ring-animation-end: 0;
}

.mdhui-progress-ring svg {
    width: 220px;
    height: 220px;
    transform: rotate(-90deg);
}

.mdhui-progress-ring circle {
    margin: 0 auto;
    fill: none;
    stroke-width: 20;
    stroke-dasharray: 630;
    stroke-linecap: round;
}

.mdhui-progress-ring circle:nth-child(2) {
    stroke: var(--mdhui-color-primary);
    animation-fill-mode: forwards;
}

.mdhui-progress-ring-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}