.mdhui-cta-header {
    margin: var(--mdhui-padding-md);
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-title {
    width: 100%;
}

.mdhui-cta-header .mdhui-cta-header-text {
    margin-top: var(--mdhui-padding-md);
}

.mdhui-cta-header.mdhui-cta-header-medium .mdhui-cta-header-flex {
    display: flex;
    gap: var(--mdhui-padding-sm);
    align-items: center;
}

.mdhui-cta-header .mdhui-cta-header-text {
    font-size: .88em;
}

.mdhui-cta-header.mdhui-cta-header-large .mdhui-cta-header-title {
    margin-top: var(--mdhui-padding-md);
}