.mdhui-sa-log-preview .mdhui-sa-log-preview-loading-indicator.mdhui-loading-indicator {
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
}

.mdhui-sa-log-preview .mdhui-sa-log-preview-edit-button {
    height: 48px;
}