.mdhui-calendar table tr:has(.mdhui-calendar-day) td {
    height: 40px;
}

.mdhui-calendar-day {
    display: inline-block;
    width: 100%;
    height: 21px;
    margin-top: 5px;
}

.mdhui-calendar-day .mdhui-unstyled-button {
    margin: 0 auto;
}

.mdhui-calendar-day-value {
    position: relative;
    background: var(--mdhui-border-color-2);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: -10px auto 0;
    font-size: 15px;
    font-weight: bold;
}

.mdhui-calendar-day-today .mdhui-calendar-day-value {
    background: #369CFF;
    color: #fff;
    border: 2px solid var(--mdhui-background-color-0);
    margin-top: -12px;
}

.mdhui-calendar-day-future .mdhui-calendar-day-value {
    background: var(--mdhui-background-color-0);
    color: var(--mdhui-text-color-4);
    border: 2px solid var(--mdhui-border-color-2);
    margin-top: -12px;
}

.mdhui-calendar-day-note-wrapper {
    position: absolute;
    bottom: -12px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mdhui-border-color-1);
    border: 1px solid var(--mdhui-border-color-2);
    border-radius: 8px;
    color: var(--mdhui-text-color-0);
    height: 16px;
    min-width: 16px;
    max-width: 40px;
    padding: 0 4px;
    font-size: 0.62em;
    box-sizing: border-box;
}

.mdhui-calendar-day-note {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}