.mdhui-survey-log-summary {
    padding: 16px;
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-action.mdhui-action {
    padding: 0;
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-action-loading-indicator.mdhui-loading-indicator {
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-action-edit-button {
    height: 48px;
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-badges {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-badge {
    width: 34px;
    height: 34px;
    border: 1px solid var(--mdhui-border-color-1);
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-badge-icon {
    color: var(--mdhui-background-color-0);
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-badge-label {
    color: var(--mdhui-text-color-3);
    line-height: 40px;
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-badge-highlighted .mdhui-survey-log-summary-badge-label {
    color: var(--mdhui-text-color-1);
}

.mdhui-survey-log-summary .mdhui-survey-log-summary-details {
    background: var(--mdhui-background-color-1);
    border-radius: var(--mdhui-card-border-radius);
    padding: 16px;
    margin-top: 16px;
}