.mdhui-sa-log-summary {
    padding: 16px;
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-result {
    display: flex;
    align-items: center;
    gap: 8px;
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-result-label {
    color: var(--mdhui-text-color-2);
    font-size: 0.9em;
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-result-value {
    font-weight: bold;
}