.mdhui-sa-log-summary {
    padding: 16px;
    color: var(--mdhui-text-color-1);
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-entered {
    margin-top: 8px;
    color: var(--mdhui-text-color-2);
    font-size: 0.9em;
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-badges {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-badge {
    width: 34px;
    height: 34px;
    border: 1px solid var(--mdhui-border-color-1);
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    transition: border-radius 0.5s ease;
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-badge-selected {
    border-radius: var(--mdhui-card-border-radius);
    transition: border-radius 0.5s;
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-badge-icon {
    color: var(--mdhui-background-color-0);
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-badge-label {
    color: var(--mdhui-text-color-3);
    line-height: 40px;
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-badge-highlighted .mdhui-sa-log-summary-badge-label {
    color: var(--mdhui-text-color-1);
}

.mdhui-sa-log-summary .mdhui-sa-log-summary-badge-details {
    background: var(--mdhui-background-color-1);
    border-radius: var(--mdhui-card-border-radius);
    padding: 16px;
    margin-top: 16px;
}