.mdhui-layout {
    color: var(--mdhui-text-color-1);
    display: flow-root;
}

.mdhui-layout-flex {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: calc(env(safe-area-inset-top, 0));
}
