.mdhui-glucose-chart-navigation {
    display: grid;
    grid-template-columns: auto 180px auto;
    align-items: center;
    height: 50px;
}

.mdhui-glucose-chart-nav, .mdhui-glucose-chart-nav-disabled {
    margin-top: 2px;
}

.mdhui-glucose-chart-nav:nth-child(1), .mdhui-glucose-chart-nav-disabled:nth-child(2) {
    text-align: right;
}

.mdhui-glucose-chart-nav-disabled {
}

.mdhui-glucose-chart-day {
    text-align: center;
    color: #aaa;
}

.mdhui-glucose-chart-chart {
    height: 220px;
    padding-bottom: 4px;
}

.mdhui-glucose-chart-chart-empty {
    padding-top: 65px;
    color: #aaa;
    text-align: center;
}

.meals-list {
    padding: 0;
    min-height: 200px;
}
