.mdhui-glucose-chart-day {
    text-align: center;
    color: #aaa;
}

.mdhui-glucose-chart-chart {
    height: 150px;
    position: relative;
}

.mdhui-glucose-chart-chart .steps-icon {
    position: absolute;
    left: 21px;
    top: 142px;
    font-size: 12px;
}


.mdhui-glucose-chart-chart-empty {
    padding-top: 65px;
    color: #aaa;
    text-align: center;
}

.meals-list {
    padding: 0;
    min-height: 200px;
}


.mdhui-glucose-chart-chart .recharts-cartesian-axis-tick text {
    font-size: 11px;
    fill: var(--mdhui-text-color-1);
}

.mdhui-glucose-chart-chart {
    margin-bottom: 32px;
}