.mdhui-goal {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    padding: 16px;
}

.mdhui-goal.mdhui-goal-compact {
    flex-direction: column;
}

.mdhui-goal-chart {
    position: relative;
    height: 80px;
    width: 80px;
}

.mdhui-goal-chart-icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdhui-goal-chart-icon {
    font-size: 34px;
}

.mdhui-goal-ratio, .mdhui-goal-ratio-loading {
    height: 40px;
    line-height: 40px;
}

.mdhui-goal-compact .mdhui-goal-ratio, .mdhui-goal-compact .mdhui-goal-ratio-loading {
    height: 18px;
    line-height: 18px;
}

.mdhui-goal-ratio {
    font-size: 2em;
}

.mdhui-goal-compact .mdhui-goal-ratio {
    font-size: 0.9em;
    font-weight: bold;
}

.mdhui-goal-ratio-divider {
    padding: 0 4px;
}

.mdhui-goal-compact .mdhui-goal-ratio-divider {
    padding: 0 2px;
    font-weight: bold;
}

.mdhui-goal-ratio-loading {
    font-size: 1.5em;
}

.mdhui-goal-compact .mdhui-goal-ratio-loading {
    font-size: 0.9em;
}

.mdhui-goal-compact .mdhui-goal-name {
    display: none;
}
