.mdhui-dumbbell-visualization {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
}

.mdhui-dumbbell-chart{
    height: 200px;
    width: 100%;
    position: relative;
}

.mdhui-dumbbell-y-axis{
    position: absolute;
    flex-flow: nowrap;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E7EFFF;
}

.mdhui-dumbbell-x-axis{
    position: absolute;
    bottom: -20px;
}

.mdhui-dumbbell-axis-text{
    color: #BFBFBF;
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: right;
    align-items: end;
}

.mdhui-dumbbell-pill{
    position: absolute;
    width: 9px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    z-index: 100;
    background-color: #FBFCFE;
    min-height: 9px;
    min-width: 9px;
}

.mdhui-dumbbell-out-of-range-icon{
    position: absolute;
    z-index: 300;
    background-color: var(--mdhui-color-danger);
    border-color:var(--mdhui-color-danger); 
    width: 9px;
    height: 8px;
    min-height: 9px;
    border-style: solid;
    border-width: 2px;
}

.mdhui-dumbbell-bottom{
    bottom: 0%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
    border-bottom: 0;
}

.mdhui-dumbbell-top{
    bottom: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    border-top: 0;
}

.mdhui-dumbbell-line {
    position: absolute;
    border-left-style: solid;
    border-left-width: 2px;
    width: 1px;
    z-index: 100;
 }

 .mdhui-dumbbell{
    bottom: 0px;
    height: 100%;
    position: absolute;
 }

.mdhui-dumbbell-in-range {
    background-color: var(--mdhui-color-primary);
    border-color: var(--mdhui-color-primary);
}

.mdhui-dumbbell-out-of-range {
    background-color: var(--mdhui-color-danger);
    border-color: var(--mdhui-color-danger);
}