.step-container {
    background-color: #FFFFFF;
}

.step-container div,
.step-container dl,
.step-container dt,
.step-container dd,
.step-container ul,
.step-container ol,
.step-container li,
.step-container h1,
.step-container h2,
.step-container h3,
.step-container h4,
.step-container h5,
.step-container h6,
.step-container pre,
.step-container form,
.step-container fieldset,
.step-container input,
.step-container textarea,
.step-container p,
.step-container blockquote,
.step-container th,
.step-container td { 
    margin: 0;
    padding: 0;
}

.step-container a {
    color: #5381c3;
    text-decoration: none;
}

.step-container ol {
    list-style-type: decimal;
    white-space: normal;
    list-style-position: inside;
}

.step-container ul {
    list-style-type: disc;
    text-align: left;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    white-space: normal;
}

.step-container ul ul {
    list-style-type: circle;
}

.step-container ul ul ul {
    list-style-type: square;
}