.mdhui-step-container {
    background-color: #FFFFFF;
}

.mdhui-step-container div,
.mdhui-step-container dl,
.mdhui-step-container dt,
.mdhui-step-container dd,
.mdhui-step-container ul,
.mdhui-step-container ol,
.mdhui-step-container li,
.mdhui-step-container h1,
.mdhui-step-container h2,
.mdhui-step-container h3,
.mdhui-step-container h4,
.mdhui-step-container h5,
.mdhui-step-container h6,
.mdhui-step-container pre,
.mdhui-step-container form,
.mdhui-step-container fieldset,
.mdhui-step-container input,
.mdhui-step-container textarea,
.mdhui-step-container p,
.mdhui-step-container blockquote,
.mdhui-step-container th,
.mdhui-step-container td {
    margin: 0;
    padding: 0;
}

.mdhui-step-container a {
    color: var(--mdhui-color-primary);
    text-decoration: none;
}

.mdhui-step-container ol {
    list-style-type: decimal;
    white-space: normal;
    list-style-position: inside;
}

.mdhui-step-container ul {
    list-style-type: disc;
    text-align: left;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    white-space: normal;
}

.mdhui-step-container ul ul {
    list-style-type: circle;
}

.mdhui-step-container ul ul ul {
    list-style-type: square;
}