.mdhui-micro-trend {
    padding: var(--mdhui-padding-md);
    padding-bottom: 32px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.mdhui-micro-trend .mdhui-micro-trend-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mdhui-micro-trend .mdhui-micro-trend-chart {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 32px;
    width: 100%;
}

.mdhui-micro-trend .mdhui-micro-trend-header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    font-size: .88em;
    font-weight: 600;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdhui-micro-trend .mdhui-micro-trend-value {
    font-weight: bold;
    margin-top: 4px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    z-index: 1;
    position: relative;
}

.mdhui-micro-trend.mdhui-micro-trend-chart-right {
    padding-bottom: var(--mdhui-padding-md);
}

.mdhui-micro-trend.mdhui-micro-trend-chart-right .mdhui-micro-trend-chart {
    position: absolute;
    bottom: 16px;
    right: 16px;
    left: auto;
    height: 32px;
    width: calc(50% - 16px);
}

.mdhui-micro-trend .mdhui-micro-trend-indicator {
    position: absolute;
    right: 16px;
    top: 16px;
    color: var(--mdhui-text-color-3);
    white-space: nowrap;
}