.colorCell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colorCell .color {
  width: 60px;
  height: 60px;
  border-radius: 7.5px;
  margin: 0 auto;
}

.colorCell p {
  font-size: 16px;
}

.colorRow {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.colorHeader {
  min-width: 150px;
}

.colorRow .colors {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3px;
  max-width: 630px;
}

.colorRow h3 {
  min-width: 100px;
}
