.mdh-assistant-collapsed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: var(--touch);
    height: var(--touch);
    background: var(--mdhui-color-primary);
    display: flex;
    box-shadow: var(--mdhui-box-shadow-1);
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.mdh-assistant {
    position: fixed;
    bottom: 0;
    background-color: white;
    font-size: 14px;
    width: calc(100% - 1rem);
    border: var(--border);
    border-radius: 12px;
    overflow: hidden;
    margin: .5rem;
    z-index: 3;
    max-width: 800px;
    right: 0;
    box-shadow: var(--mdhui-box-shadow-1);
}

.mdh-assistant-header {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 12px;
    justify-content: space-between;
    border-bottom: var(--border);
    font-weight: 600;
    color: var(--ce-grey-55);
}

.mdh-assistant-header .collapse-button {
    color: var(--mdhui-color-primary);
    cursor: pointer;
}

.mdh-assistant-header svg {
    padding-right: 0.5rem
}

.mdh-assistant button {
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    color: var(--mdh-blue-55);
    position: absolute;
    right: 4px;
}

.mdh-assistant button:hover {
    background: var(--mdh-blue-5);
    border: 2px solid transparent;
}

.mdh-assistant .input-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-top: var(--border);
}
