.mdhui-stat-block {
    width: 100%;
    font-size: .7em;
}

.mdhui-stat-block th {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    padding-right: var(--mdhui-padding-xs);
    padding-bottom: var(--mdhui-padding-xs);

}

.mdhui-stat-block td {
    vertical-align: top;
}

.mdhui-stat-block th,
.mdhui-stat-block td {
    padding-bottom: var(--mdhui-padding-xs);
}

.mdhui-stat-block tr:last-child th,
.mdhui-stat-block tr:last-child td {
    padding-bottom: 0;
}

.mdhui-stat-block.mdhui-stat-block-default-margin {
    margin: var(--mdhui-padding-md);
    width: calc(100% - 32px);
}