.mdhui-meal {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    grid-column-gap: 16px;
    padding: 16px;
    border-bottom: 1px solid var(--mdhui-border-color-0);
}

.mdhui-meal:last-child {
    border: none;
}

.mdhui-meal.mdhui-unstyled-button {
    width: 100%
}

.mdhui-meal-number {
    font-size: 0.8em;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    color: #fff;
    border-radius: 12px;
}

.mdhui-meal-type {
    text-transform: capitalize;
    font-weight: bold;
}

.mdhui-meal-time {
    font-size: 0.9em;
}