.mdhui-meal {
    border-bottom: 1px solid var(--mdhui-border-color-0);
    cursor: pointer;
}

.mdhui-meal .mdhui-unstyled-button {
    display: inline-flex;
}

.mdhui-meal:last-child {
    border: none;
}

.mdhui-meal .mdhui-divider {
    margin: 0 16px;
    width: calc(100% - 32px);
    box-sizing: border-box;
}

.mdhui-meal-content {
    display: flex;
}

.mdhui-meal-thumbnail {
    position: relative;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    color: var(--mdhui-text-color-2);
    background: var(--mdhui-background-color-1);
    border: 1px solid var(--mdhui-border-color-2);
    border-radius: 5px;
    margin: 16px 8px 16px 16px;
}

.mdhui-meal-thumbnail-image img {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.mdhui-meal-loading.mdhui-loading-indicator {
    padding: 0;
}

.mdhui-meal-number {
    position: absolute;
    top: -6px;
    left: -6px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 0.7em;
    font-family: monospace;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.mdhui-meal-number-old {
    font-size: 0.8em;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    color: #fff;
    border-radius: 12px;
    margin: 24px 8px 16px 16px;
}

.mdhui-meal-info {
    margin: 16px 8px;
    flex: 1;
    color: var(--mdhui-text-color-2);
}

.mdhui-meal-type {
    font-size: 0.9em;
    font-weight: bold;
}

.mdhui-meal-time {
    color: var(--mdhui-text-color-1);
    font-size: 0.9em;
}

.mdhui-meal-description {
    margin-top: 8px;
    font-size: 0.75em;
}

.mdhui-meal-items {
    margin-top: 8px;
    font-size: 0.75em;
}

.mdhui-meal-edit-action {
    margin: 24px 16px 16px;
    color: var(--mdhui-text-color-2);
}