body{
    background: #FFFFFF;
}

.mdhui-blood-pressure-visualization-pager {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
}

.mdhui-blood-pressure-metrics {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mdhui-blood-pressure-metrics-rows{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    height: 50%;
}

.mdhui-blood-pressure-metrics-block{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 6px;
    border-color:#EDEDED;
    border-width: 1px;
    border-style: solid;
    width: 50%;
}

.mdhui-blood-pressure-metric-description{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #585858;
}

.mdhui-blood-pressure-units{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
}

.mdhui-blood-pressure-metric-alert{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--mdhui-color-danger);
}

.mdhui-blood-pressure-metric-value{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.mdhui-blood-pressure-metric-normal{
    color: var(--mdhui-color-primary);
}

.mdhui-blood-pressure-metric-not-normal{
    color: var(--mdhui-color-danger);
}