.mdhui-heart-e8-container {
  display: flex;  
  align-items: center;
}

.mdhui-heart-e8-container .mdhui-heart-e8-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mdhui-heart-e8-container .mdhui-heart-e8-score-container .score{
  font-size: 65px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.mdhui-heart-e8-container .mdhui-heart-e8-score-container .scoreSubText{
  font-size: 20px;
  font-weight: bold;
  color: rgb(109, 110, 113);
  display: flex;
  justify-content: center;
}

.mdhui-heart-e8-container .mdhui-heart-e8-feedback {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 20px;
}

.mdhui-heart-e8-container .mdhui-heart-e8-feedback .achievementSection{
  display: flex;
  align-items: center;
}

.bulletPoint{
  width: 20px;
  height: 20px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

.improve {
  background-color: rgb(234, 140, 28);;
}

.celebrate {
  background-color: rgb(127, 180, 57);
}

.circle{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.circle img{
  width: 40px;
  height: 40px;
}

.activity{
  background-color: rgb(1, 131, 191);
  color: white;
}

.bloodPressure{
  background-color: rgb(102, 88, 166);
  color: white;
}

.bloodSugar{
  background-color: rgb(2, 128, 131);
  color: white;
}

.bmi{
  background-color: rgb(234, 140, 28);
  color: white;
}

.cholesterol{
  background-color: rgb(158, 31, 99);
  color: white;
}

.diet{
  background-color: rgb(127, 180, 57);
  color: white;
}

.nicotine{
  background-color: rgb(193, 14, 33);
  color: white;
}

.sleep{
  background-color: rgb(111, 207, 190);
  color: white;
}