
/* TODO, make the below a new component for users who might want to, e.g, put only the score overview on a dashboard, and then drill into another view for the list */

.mdhui-heart-e8-score-container {
  padding: var(--mdhui-padding-md);
}
.mdhui-heart-e8-score-container .le8-header {
  margin: 0 0 var(--mdhui-padding-md) 0;
}
.mdhui-heart-e8-score-container .score {
  font-size: 65px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.mdhui-heart-e8-score-container .scoreSubText {
  font-size: 20px;
  font-weight: bold;
  color: rgb(109, 110, 113);
  display: flex;
  justify-content: center;
}

/* TODO: where is this used? */

.mdhui-heart-e8-feedback {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 20px;
}

/* TODO, make the below a new component for users who might want to, e.g, put only the score overview on a dashboard, and then drill into another view for the list */

.mdhui-heart-e8-achievement-container {
  padding: var(--mdhui-padding-xs) var(--mdhui-padding-md);
}
.mdhui-heart-e8-achievement-container .le8-header {
  margin: var(--mdhui-padding-sm) 0 var(--mdhui-padding-xs) 0;
}
.achievementActionList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.achievementActionList > div {
  border-radius: var(--mdhui-card-border-radius);
  border: 1px solid var(--mdhui-border-color-0);
  margin-bottom: var(--mdhui-padding-xs);
}

.circle {
  /* width: 30px;
  height: 30px; */
  display: flex;
  justify-content: center;
  align-content: center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
  padding: 4px;
}
.circle img {
  width: 26px;
  height: 26px;
}
.improve {
  background-color: rgb(234, 140, 28);
}

.celebrate {
  background-color: rgb(127, 180, 57);
}

.activity {
  background-color: rgb(1, 131, 191);
}

.bloodPressure {
  background-color: rgb(102, 88, 166);
}

.bloodSugar {
  background-color: rgb(2, 128, 131);
}

.bmi {
  background-color: rgb(234, 140, 28);
}

.cholesterol {
  background-color: rgb(158, 31, 99);
}

.diet {
  background-color: rgb(127, 180, 57);
}

.nicotine {
  background-color: rgb(193, 14, 33);
}

.sleep {
  background-color: rgb(111, 207, 190);
}
