.mdhui-popup {
    position: fixed;
    bottom: 0;
    background-color: white;
    font-size: 14px;
    width: calc(100% - 1rem);
    border: var(--border);
    border-radius: 12px;
    overflow: hidden;
    margin: .5rem;
    z-index: 3;
    max-width: 800px;
    right: 0;
    box-shadow: var(--mdhui-box-shadow-1);
}

.mdhui-popup .mdhui-popup-header {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 12px;
    justify-content: space-between;
    border-bottom: var(--border);
    font-weight: 600;
    color: var(--ce-grey-55);
}

.mdhui-popup .mdhui-popup-header .collapse-button {
    color: var(--mdhui-color-primary);
    cursor: pointer;
}

.mdhui-popup .mdhui-popup-header svg {
    padding-right: 0.5rem
}
