.mdhui-ss-calendar .mdhui-ss-calendar-day {
    width: 100%;
}

.mdhui-ss-calendar .mdhui-ss-calendar-day .mdhui-ss-day-label {
    font-size: 12px;
    color: var(--mdhui-text-color-2);
}

.mdhui-ss-calendar .mdhui-ss-calendar-day .mdhui-ss-day-label svg {
    font-size: 12px;
}

.mdhui-ss-calendar .mdhui-ss-calendar-day .mdhui-ss-day-label.future {
    opacity: .5;
}

.mdhui-ss-calendar .mdhui-ss-notes-icon {
    color: var(--mdhui-color-primary);
    position: absolute;
    right: calc(50% - 19px);
    bottom: 2px;
}

.mdhui-ss-calendar .mdhui-ss-calendar-day .mdhui-ss-day-tracker {
    padding-bottom: 2px;
    padding-top: 8px;
}

.mdhui-ss-calendar .mdhui-ss-calendar-day.future {
    opacity: .7;
    cursor: default;
}