.mdhui-view-header {
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.mdhui-view-header .mdhui-view-header-title {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 8px;
    color: var(--mdhui-text-color-0);
}

.mdhui-view-header .mdhui-view-header-subtitle {
    font-weight: 500;
    color: var(--mdhui-text-color-2);
    font-size: 1.2em;
    line-height: 1.3em;
}