.mdhui-action {
    padding: 16px;
    position: relative;
    cursor: pointer;
    background: inherit;
    width: 100%;
}

.mdhui-action-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mdhui-action .title {
    font-size: 1em;
    font-weight: bold;
}

.mdhui-action .subtitle {
    font-size: .88em;
    color: var(--mdhui-text-color-2);
}

.mdhui-action .indicator {
    color: var(--mdhui-text-color-3);
}

.mdhui-action .mdhui-indicator-topRight {
    position: absolute;
    top: 16px;
    right: 16px;
}

.mdhui-action .mdhui-action-indicator-value {
    color: var(--mdhui-color-primary);
    font-weight: bold;
}