.mdhui-action
{
    padding: 16px 32px 16px 16px;
    position: relative;
    cursor: pointer;
    background: inherit;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 1em;
    line-height: 1.2em;
}

    .mdhui-action .title
    {
        font-size: 1em;
        font-weight: bold;
    }

    .mdhui-action .subtitle
    {
        font-size: .88em;
        color: #555;
    }

    .mdhui-action .indicator
    {
        position: absolute;
        top: calc(50% - 9px);
        right: 16px;
        font-size: 16px;
        color: #999;
    }
