.mdhui-connect-ehr {
    background: var(--mdhui-background-color-0);
    position: relative;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 1em;
    line-height: 1.2em;
    cursor: pointer;
}

.mdhui-connect-ehr .error-content {
    padding: 16px;
}

.mdhui-connect-ehr .content {
    padding: 16px 42px 16px 16px;
    font-size: .88em;
    color: var(--mdhui-text-color-2);
}

.mdhui-connect-ehr .connection-status {
    padding: 16px 42px 0 16px;
    font-size: .88em;
    color: var(--mdhui-text-color-2);
}

.mdhui-connect-ehr .connection-status .success svg {
    color: var(--mdhui-color-success);
}

.mdhui-connect-ehr .connection-status .warning {
    color: var(--mdhui-color-danger);
}

.mdhui-connect-ehr .indicator {
    position: absolute;
    top: calc(50% - 8px);
    right: 16px;
    font-size: 16px;
    color: var(--mdhui-text-color-2);
}