.mdhui-connect-ehr .error-content {
    padding: 16px;
}

.mdhui-connect-ehr .content {
    margin-top: 16px;
}

.mdhui-connect-ehr .connection-status .success svg {
    color: var(--mdhui-color-success);
}

.mdhui-connect-ehr .connection-status .warning {
    color: var(--mdhui-color-danger);
}

.mdhui-connect-ehr .mdhui-connect-ehr-action {
    padding: 0;
    padding-right:var(--mdhui-padding-md);
}