.mdhui-basic-badges {
    padding: 16px;
}

.mdhui-basic-badges .mdhui-basic-badges-first-row {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    align-items: center;
}

.mdhui-basic-badges .mdhui-basic-badges-remaining {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.mdhui-basic-badges .mdhui-basic-badges-more {
    font-weight: bold;
}