.mdhui-status-bar-background
{
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 0;
    right: 0;
    height: env(safe-area-inset-top);
    width: 100%;
    z-index: 1;
    background: #FFF;
}
