.mdhui-navigation-bar {
    text-align: left;
    padding: 16px;
    padding-top: calc(56px + env(safe-area-inset-top, 0px));
    box-sizing: border-box;
    padding-bottom: 16px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
    font-weight: bold;
    background: var(--mdhui-background-color-1);
    line-height: 1.2em;
}

.mdhui-navigation-bar .title {
    font-size: 1.2em;
}


.mdhui-navigation-bar .subtitle {
    font-size: 1em;
    font-weight: 500;
    color: var(--mdhui-text-color-2);
    margin-top: 8px;
}

.mdhui-navigation-bar.scroll-shadow {
    box-shadow: var(--mdhui-box-shadow-1);
}

.mdhui-navigation-bar .icon {
    width: 32px;
    vertical-align: middle;
}

.mdhui-navigation-bar .close-button {
    position: absolute;
    right: 16px;
    top: calc(16px + env(safe-area-inset-top, 0px));
    font-weight: normal;
    font-size: .88em;
    text-decoration: none;
    cursor: pointer;
}

.mdhui-navigation-bar .back-button {
    position: absolute;
    left: 16px;
    top: calc(16px + env(safe-area-inset-top, 0px));
    font-weight: normal;
    font-size: .88em;
    text-decoration: none;
    cursor: pointer;
}

.mdhui-navigation-bar.mdhui-navigation-bar-compressed {
    text-align: center;
    padding-top: calc(16px + env(safe-area-inset-top, 0px));
    font-size: 18px;

}