.mdhui-navigation-bar {
    text-align: left;
    padding: calc(8px + env(safe-area-inset-top, 0px)) 16px 8px;
    min-height: 56px;
    margin-bottom: 8px;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
    font-weight: bold;
    background: var(--mdhui-background-color-1);
}

.mdhui-navigation-bar.mdhui-navigation-bar-compressed {
    text-align: center;
    font-size: 18px;
}

.mdhui-navigation-bar .title {
    margin-top: 44px;
    height: 32px;
    line-height: 32px;
    font-size: 1.2em;
}

.mdhui-navigation-bar.mdhui-navigation-bar-compressed .title {
    margin-top: 6px;
}

.mdhui-navigation-bar .subtitle {
    font-size: 1em;
    font-weight: 500;
    color: var(--mdhui-text-color-2);
    margin-top: 8px;
}

.mdhui-navigation-bar.scroll-shadow {
    box-shadow: var(--mdhui-box-shadow-1);
}

.mdhui-navigation-bar .icon {
    width: 32px;
    vertical-align: middle;
}

.mdhui-navigation-bar .button {
    position: absolute;
    top: calc(12px + env(safe-area-inset-top, 0px));
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 16px;
    font-weight: normal;
    font-size: .88em;
    cursor: pointer;
    color: var(--mdhui-color-primary);
}
