.mdhui-layout-flex .mdhui-survey-result-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/* TODO: Copied from EHR News feed, make a generic component */
.mdhui-survey-result-list .mdhui-survey-result-list-search {
    text-align: left;
    box-sizing: border-box;
    font-weight: bold;
    border-bottom: solid 1px var(--mdhui-border-color-1);
}

.mdhui-survey-result-list .mdhui-survey-result-list-search-bar {
    position: relative;
}

.mdhui-survey-result-list .mdhui-survey-result-list-search-bar input {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    line-height: 1.5em;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: .88em;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background: var(--mdhui-background-color-0);
    color: var(--mdhui-text-color-1);
    border-radius: var(--mdhui-card-border-radius);
}

.mdhui-survey-result-list .mdhui-survey-result-list-search-bar .fa-magnifying-glass {
    position: absolute;
    left: 16px;
    top: 12px;
    color: var(--mdhui-text-color-4);
    font-size: .8em;
}

.mdhui-survey-result-list .mdhui-unstyled-button.mdhui-survey-result-list-title-accessory {
    color: var(--mdhui-color-primary);
    font-weight: normal;
}

.mdhui-survey-result-list .mdhui-survey-result-list-entry-button {
    padding: 12px;
    color: var(--mdhui-text-color-3);
}

.mdhui-survey-result-list .mdhui-survey-result-list-entry-title {
    font-size: 1em;
}

.mdhui-survey-result-list .mdhui-survey-result-list-entry-subtitle {
    font-size: .88em;
    color: var(--mdhui-text-color-2);
}

.mdhui-layout-flex .mdhui-survey-result-list .mdhui-survey-result-list-scroll-container {
    overflow-y: auto;
}

.mdhui-survey-result-list-print .mdhui-survey-result-list-title-accessory {
    display: none;
}

.mdhui-survey-result-list-print .mdhui-survey-result-list-search {
    display: none;
}

.mdhui-survey-result-list-print .mdhui-card {
    box-shadow: none;
}

.mdhui-survey-result-list-print .mdhui-survey-result-list-entry-button {
    display: none;
}


.mdhui-survey-result-list-print .mdhui-survey-result-list-entry {
    padding-left: 0;
    padding-right: 0;
}