.mdhui-single-notification
{
    padding: 16px;
    border-bottom: solid 1px var(--mdhui-border-color-0);
    position: relative;
}

    .mdhui-single-notification:last-child
    {
        border: none;
    }

    .mdhui-single-notification > .notification-title
    {
        font-weight: bold;
    }

    .mdhui-single-notification > .notification-body
    {
        font-size: .88em;
    }

    .mdhui-single-notification > .notification-date
    {
        color: var(--mdhui-text-color-2);
        margin-top: 16px;
        font-size: .75em;
    }
