.mdhui-insights-badge {
    width: 28px;
    height: 28px;
    border: 1px solid var(--mdhui-border-color-1);
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.mdhui-insights-badge.mdhui-insights-badge-xsmall {
    width: 14px;
    height: 14px;
    padding: 2px;
    font-size: 12px;
}

.mdhui-insights-badge .mdhui-insights-badge-icon {
    color: var(--mdhui-background-color-0);
}

.mdhui-insights-badge .mdhui-insights-badge-label {
    color: var(--mdhui-text-color-2);
    line-height: 40px;
}

.mdhui-insights-badge.mdhui-insights-badge-highlighted .mdhui-insights-badge-label {
    color: var(--mdhui-text-color-1);
}