.mdhui-face
{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: none;
    padding: 0;
    border: none;
}

    .mdhui-face img
    {
        width: 100%;
        height: 100%;
        opacity: .7;
    }

    .mdhui-face.mdhui-face-selected
    {
        background: #eec04c;
    }

button.mdhui-face
{
    cursor: pointer;
}
