.mdhui-progress-bar {
	display: block;
	max-width:500px;
	width: 100%;
	--icon_size: 24px;
	--icon_border_width: 2px;
}

.mdhui-progress-bar .mdhui-progress-bar-default-margin {
	margin: 16px;
}

.mdhui-progress-bar .mdhui-progress-bar-background {
	border-radius: 500px;
	border-width: var(--icon_border_width) ;
	border-style: none;
	background: #fff;
	overflow: hidden;
	width: 100%;
	position: relative;
	height:calc( var(--icon_size) + 4px);
	z-index:1;
}

.mdhui-progress-bar .mdhui-progress-bar-background .mdhui-progress-bar-fill {
	position: absolute;
	min-height: 1px;
	height: calc( var(--icon_size) + 4px);
	top:0;
	border-radius: var(--icon_size);
	z-index:1
}

.mdhui-progress-bar .mdhui-progress-steps {
	top:0;
	width: 100%;
	max-width: 500px;
	position: absolute;
	z-index: 2;
	display:inline-block;
}

.mdhui-progress-bar .step-icon {
	position: absolute;
	transform: translate(-100%, 0)
}

.mdhui-progress-bar .step-icon * {
	display: flex;
	align-items: center;
	justify-content: center;
}
