.progress-bar {
	display:inline-block;
	margin: 10px 0px;
	width: 100%;
	max-width: 500px;
	--icon_size: 24px;
	--icon_border_width: 2px;
}

.progress-bar-fill {
    position: absolute;
	min-height: 1px;
    height: calc( var(--icon_size) + 4px);
	top:0;
	border-radius: var(--icon_size);
	z-index:1
}

.progress-bar .progress-bar-background {
    border-radius: 500px;
	border-width: var(--icon_border_width) ;
	border-style: none;
    background: #fff;
	overflow: hidden;
	width: 100%;
	position: relative;
	height:calc( var(--icon_size) + 4px);
	z-index:1;
}

.progress-bar .progress-steps {
	top:0;
	margin: 10px 0px;
	width: 100%;
	max-width: 500px;
	position: absolute;
	z-index: 2;
	display:inline-block;
}

.progress-bar .step-icon {
	position: absolute;
	transform: translate(-100%, 0)
}

.progress-bar .step-icon span {
	display: flex;
	align-items: center;
	justify-content: center;
}
