.mdhui-card-title {
    padding: 16px;
    font-weight: bold;
    padding-bottom: 0;
    position: relative;
    color: var(--mdhui-text-color-0);
}

.mdhui-card-title .detail-link {
    position: absolute;
    right: 16px;
    bottom: 0;
    font-size: .88em;
    cursor: pointer;
}