.mdhui-section {
    margin-top: 16px;
    margin-bottom: 16px;
    background: var(--mdhui-background-color-0);
    box-shadow: var(--mdhui-box-shadow-0);
    animation: var(--mdhui-fadein-animation);
    -moz-animation: var(--mdhui-fadein-animation);
    -webkit-animation: var(--mdhui-fadein-animation);
    position: relative;
    display: flow-root;
}

.mdhui-section:empty {
    display: none;
}

.mdhui-section.mdhui-section-no-top-margin {
    margin-top: 0;
}

.mdhui-section.mdhui-section-no-bottom-margin {
    margin-bottom: 0;
}