.mdhui-meal-analysis {
    padding: 16px 16px 0;
    background: var(--mdhui-background-color-1);
    color: var(--mdhui-text-color-2);
    font-size: 16px;
}

.mdhui-meal-analysis-header {
    display: flex;
    gap: 8px;
    align-items: center;
}

.mdhui-meal-analysis-title {
    color: var(--mdhui-color-warning);
    font-weight: bold;
    font-size: 0.9em;
    flex: 1;
}

.mdhui-meal-analysis-message {
    margin-top: 8px;
    font-size: 0.75em;
}

.mdhui-meal-analysis-items {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-weight: bold;
    font-size: 0.85em;
    color: var(--mdhui-text-color-1);
}

.mdhui-meal-analysis-item {
    padding: 0 12px 0 8px;
    height: 36px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    background: var(--mdhui-background-color-0);
    color: var(--mdhui-text-color-1) !important;
    border-radius: 6px;
}

.mdhui-meal-analysis-item-add-icon {
    color: var(--mdhui-color-success);
    font-size: 1em;
}

.mdhui-meal-analysis-buttons {
    margin-top: 12px;
    display: flex;
    justify-content: right;
    gap: 20px;
}

.mdhui-meal-analysis-buttons .mdhui-button {
    padding: 12px 0;
    font-size: 0.8em;
}