.mdhui-intraday-hrv-chart {
    position: relative;
}

.mdhui-intraday-hrv-chart .title {
    padding: 16px;
    padding-bottom: 0;
    position: relative;
    font-weight: bold;
}

.mdhui-intraday-hrv-chart .chart-container {
    padding: 16px;
    position: relative;
}

.mdhui-intraday-hrv-chart .no-data-label,
.mdhui-intraday-hrv-chart .mdhui-loading-indicator {
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
    text-align: center;
    width: 100%;
    font-size: .88em;
    color: var(--mdhui-text-color-3);
    box-sizing: border-box;
    padding: 16px;
}

.mdhui-intraday-hrv-chart .mdhui-intraday-hrv-tooltip {
    padding: 8px;
    background: var(--mdhui-background-color-0);
    border-radius: var(--mdhui-card-border-radius);
    box-shadow: var(--mdhui-box-shadow-1);
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

.mdhui-intraday-hrv-chart .mdhui-intraday-hrv-tooltip .mdhui-intraday-hrv-tooltip-value {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--mdhui-text-color-0);
    padding-bottom: 4px;
}

.mdhui-intraday-hrv-chart .mdhui-intraday-hrv-tooltip .mdhui-intraday-hrv-tooltip-date {
    font-size: .7em;
    color: var(--mdhui-text-color-2);
    line-height: 1em;
}

.mdhui-intraday-hrv-chart .recharts-cartesian-axis-tick text {
    fill: var(--mdhui-text-color-1);
    font-size: 11px;
}

.mdhui-intraday-hrv-chart .today {
    font-weight: bold;
}