.mdhui-step-container .mdhui-step-next-button {
  margin: 20px;
  padding: 16px;
  background: var(--mdhui-color-primary);
  font-size: 1em;
  color: #FFF;
  font-weight: bold;
  border: solid 1px var(--mdhui-color-primary);
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% - 40px);
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mdhui-step-container .mdhui-step-next-button:disabled,
.mdhui-step-container .mdhui-step-next-button[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
}