.mdhui-lab-results-summary {
    padding: 16px;
    background: var(--mdhui-background-color-0);
    position: relative;
    width: 100%;
}

.mdhui-lab-results-summary .mdhui-hw-section-header .mdhui-hw-section-header-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
}

.mdhui-lab-results-summary .mdhui-important-labs {
    background: var(--mdhui-background-color-0);
}

.mdhui-hw-section-indicator {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 16px;
    color: var(--mdhui-text-color-3);
}

.mdhui-lab-results-values-container {
    margin-left: -16px;
    margin-right: -16px;
    overflow-y: hidden;
    margin-bottom: -16px;
}

.mdhui-lab-results-values-container.no-overflow {
    overflow-x: hidden;
}

.mdhui-lab-results-values-slider {
    padding-left: 8px;
    width: 10000px;
}

.mdhui-lab-results-values-column {
    width: 13em;
    min-width: 160px;
    border-right: solid 1px var(--mdhui-border-color-0);
    float: left;
}

.mdhui-lab-results-values-column:last-child {
    border: none;
}