.mdhui-glucose-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: var(--mdhui-background-color-2);
    font-size: 0.8em;
    padding: 12px 0;
    height: 32px;
}

.mdhui-glucose-stats .mdhui-loading-indicator {
    padding: 2px;
}

.mdhui-glucose-stat-value {
    font-weight: bold;
    color: var(--mdhui-color-primary);
    text-align: center;
    margin-bottom: 4px;
}

.mdhui-glucose-stat-label {
    text-align: center;
    font-size: 0.8em;
}