.mdhui-glucose-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 16px 16px;
    height: 32px;
}

.mdhui-glucose-stats .mdhui-loading-indicator {
    padding: 2px;
}

.mdhui-glucose-stat-label {
    font-size: 0.65em;
    margin-bottom: 4px;
}

.mdhui-glucose-stat-icon {
    color: #d36540;
}

.mdhui-glucose-stat-value {
    font-size: 0.95em;
    font-weight: bold;
    color: var(--mdhui-text-color-0);
    margin-bottom: 4px;
}