.mdhui-glucose-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-row-gap: 8px;
    padding: 0 16px 16px;
}

.mdhui-glucose-stats .mdhui-loading-indicator {
    padding: 2px;
    text-align: left;
}

.mdhui-glucose-stat {
    height: 46px;
}

.mdhui-glucose-stat-label {
    font-size: 0.65em;
    margin-bottom: 4px;
}

.mdhui-glucose-stat-value {
    font-size: 0.95em;
    font-weight: bold;
    color: var(--mdhui-text-color-0);
    margin-bottom: 4px;
}

.mdhui-glucose-stat-value-not-available {
    font-size: 0.95em;
    font-weight: bold;
    color: var(--mdhui-text-color-2);
    margin-bottom: 4px;
}