.mdhui-connect-devices-menu {
    background: var(--mdhui-background-color-1);
    border-radius: 6px;
    margin: var(--mdhui-padding-md);
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-device {
    border-bottom: solid 1px #ddd;
    font-size: 0.83em;
    background: none;
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-device:last-child {
    border-bottom: none;
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-device-title {
    display: flex;
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-connect {
    color: var(--mdhui-color-primary);
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-reconnect {
    color: var(--mdhui-color-danger);
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-device .mdhui-connect-devices-menu-help {
    padding: var(--mdhui-padding-md);
    padding-top: 0;
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-device .mdhui-connect-devices-menu-help p {
    margin-top: 0;
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-device .mdhui-connect-devices-menu-help ol {
    margin-bottom: 0;
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-device .mdhui-connect-devices-menu-connected {
    color: var(--mdhui-text-color-2);
}

.mdhui-connect-devices-menu .mdhui-connect-devices-menu-device img {
    width: 24px;
    display: flex;
}